@font-face {
    font-family: "MaPolice";
    src: url("../assets/fonts/game_over.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "MaPolice", Arial, sans-serif;
}
